.menu-item {
  width: 100%;
  padding: 12px;
  text-align: left;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.3s, transform 0.3s;
}

.menu-item:hover {
  border-color: #3b82f6; /* Borde azul */
  transform: scale(1.02);
}

.carousel-image {
  transition: transform 0.5s ease;
}

.carousel-image:hover {
  transform: scale(1.1); /* Zoom en la imagen */
}
.carousel-image {
  transition: transform 0.5s ease;
}

.carousel-image:hover {
  transform: scale(1.1);
}
