.menu-item.active {
    background-color: #172554; /* Color gris oscuro */
    color: white;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Custom Mobile Menu */
.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}
 /* Custom hover effect for links */
 .nav-link:hover {
    color: white;
    background-color: #1e3a8a; /* Tailwind color for blue-950 */
}

.carousel img {
    filter: brightness(0.7);
}
.carousel-item {
    display: none;
}
.carousel-item.active {
    display: block;
}

.modal {
    display: none;
}
.modal.active {
    display: flex;
}